.card__one {
    /* background: var(--color-bg-variant); */
    background: transparent;
    border: 2px solid transparent;
    border-color: var(--color-primary-variant);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    width: 150px;
}

.card__one:hover {
    /* background: transparent; */
    background: var(--color-bg-variant);
    border: 2px solid transparent;
    cursor: default;
    transition: var(--transition);
}


.card__one-icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    /* margin-bottom: 0.5rem; */
}

.card__one h5 {
    font-size: 0.95rem;
}

.card__one small {
    font-size: 0.8rem;
    /* color: var(--color-light); */
}

.card__one-text {
    /* background-color: black; */
    background-color: var(--color-primary);
    margin-top: 0.8rem;
    gap: 1rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 1px;
    color: rgb(0, 0, 0);
}

.card__one ul {
    margin-left: 20px;
    font-weight: 410;
}

.card__one:hover .card__one-text {
    background-color: black;
    color: rgb(255, 255, 255);
    transition: var(--transition);
}

.card__one li {
    text-align: left;
}

.card__one li::marker {
    color: black
}

.card__one:hover li::marker {
    color: rgb(255, 255, 255);
    transition: var(--transition);
}

/* card two  */
.card__two {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__two-date {
    background: var(--color-bg);
    border-radius: 1rem;
    text-align: center;
    width: 60%;
    margin-bottom: -2.7%;
    z-index: 3;
}

.card__two-position {
    background: var(--color-primary);
    border-radius: 1rem;
    text-align: center;
    padding-top: 0.8rem;
    width: 75%;
    margin-bottom: -3%;
    z-index: 2;
}

.card__two-company {
    background: var(--color-primary-variant);
    border-radius: 1rem;
    text-align: center;
    padding-top: 0.9rem;
    width: 90%;
    margin-bottom: -4%;
    z-index: 1;
}

.card__two-text {
    background: var(--color-bg-variant);
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    /* margin-right: 5rem; */
}

.card__two small {
    font-size: 0.8rem;
    /* color: var(--color-light); */
}

.text-ul {
    margin-top: 0.8rem;
    border-radius: 0.5rem;
    padding: 1px;
    text-align: left;
    margin-left: 20px;
}

.text-ul li::before {
    /* content: '\25CF'; */
    margin-right: 3px;
    padding-left: 3px;
    list-style-type: circle;
}


/* card three */

.card__three {
    background: black;
    /* border-radius: 0 0 2rem 2rem; */
    /* border: 4px solid black; */
    border: 4px solid var(--color-primary);;
    height: fit-content;
    transition: var(--transition);
}

.card__three:hover {
    /* background: var(--color-bg); */
    background-color: white;
    /* border: 4px solid var(--color-bg); */
    border: 4px solid white;
    cursor: default;
    color: black;
}

.card__three-head {
    background: var(--color-primary);
    padding: 0.6rem;
    /* border-radius: 0 0 2rem 2rem; */
}

.card__three:hover .card__three-head {
    background-color: var(--color-bg-variant);
    transition: var(--transition);
}

.card__three-head h3 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-align: center;
}

.card__three:hover .card__three-head h3 {
    color: rgb(255, 255, 255);
    transition: var(--transition);
}

.card__three-list {
    padding: 1rem;
}

.card__three-list li {
    display: flex;
    gap: 1rem;
    /* margin-bottom: 0.8rem; */
}

.card__three-list-icon {
    color: var(--color-primary);
    margin-top: 5.5px;
    font-size: 1rem;
}

.card__three-list p {
    font-size: 0.9rem;
}

.card__three:hover .card__three-list-icon {
    color: var(--color-bg-variant);
}

/* card four  */

.card__four {
    padding: 0.3rem;
    border-radius: 2rem;
    border: 2px solid var(--color-primary-variant);
    transition: var(--transition);
    background: transparent;
}

.card__four:hover {
    background-color: black;
}

.card__four-image {
    border-radius: 1.5rem;
    overflow: hidden;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card__four h3 {
    margin: 0.5rem 0 0.5rem;
}

.card__four-cta {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
}

/* card five  */
.card__five-container {
    perspective: 1000px; /* Adds depth for the 3D flip effect */
    display: inline-block;
    margin: 10px;
}

.card__five {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-style: preserve-3d; /* Enables 3D effect */
    transition: transform 0.5s;
    width: 100%;
    height: auto;
    min-height: 200px; /* Ensures responsiveness */
    /* overflow: hidden; */
}

.card__five-container.flipped .card__five {
    transform: rotateY(180deg); /* Flip on hover */
}

.card__five-front {
    position: absolute;
    background: var(--color-primary-variant);
    text-align: center;
    padding-right: 3rem;
    padding-left: 3rem;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex; /* Enables flexbox */
    flex-direction: column;
    justify-content: center;
    backface-visibility: hidden; /* Hides the back of the card when flipped */
}

.card__five-back {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg); /* Rotate back side to be initially hidden */ 
    background: var(--color-bg-variant);
    text-align: center;   
    display: flex; /* Enables flexbox */
    flex-direction: column;
    justify-content: center;
    backface-visibility: hidden; /* Hides the back of the card when flipped */
}

.card__five-back small {
    font-size: 0.8rem;
}

.card__five-back ul {
    text-align: left;
    margin-left: 20px;
}

.card__five-back li {
    margin-right: 3px;
    padding-left: 3px;
    list-style-type: disc;
}

@media screen and (max-width: 1024px) {}

/* small devices */

@media screen and (max-width: 600px) {

    .card__one {
        width: 120%;
    }

    .card__two-date {
        width: 70%;
    }

    .card__two-position {
        width: 80%;
    }

    .card__two-company {
        width: 90%;
    }

    .card__three {
        width: 91%;
    }

    .card__three-head {
        padding: 0.3rem;
        /* border-radius: 0 0 1rem 1rem; */
        margin: -1px;

    }

    .card__three-head h3 {
        font-size: 0.8rem;
    }

    .card__three-list {
        padding: 0.5rem 0.5rem 1rem;
    }

    .card__three-list li {
        font-size: 0.8rem;
    }

    .card__three-list-icon {
        margin-top: 5px;
        font-size: 11px;
    }

    /* .card__five  {
        width: 100%;
    } */

    .card__five {
        width: 100%; /* Adjust width */
        height: 250px;
    }

    .card__five-front {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
