button {
    border: none;
    background-color: white;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: black;
}

.contact__option {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 2px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    color: white;
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: -0.5rem;
}

.contact__option h4 {
    margin-bottom: 0.5rem;
}

.contact__option a {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 450;
    color: rgb(0, 0, 0);
}

.contact__option:hover a {
    color: white; /* Change to white when hovering over the entire box */
}

.contact__option a:hover {
    display: inline-block;
    font-size: 0.8rem;
    color: var(--color-primary);
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
    font-size: 1rem;
}

.submit-message {
    display: grid;
    grid-template-columns: 50% 50%;
}

.message-sent {
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem; 
    margin-left: -1.8rem;  
}

/* medium devices */

@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .submit-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 2rem 0;
    }
    
    .submit {
        width: auto;
        text-align: center;
    }

    .message-sent {
        width: auto;
        text-align: center;
        background-color: #28a745;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        margin-left: 0rem;  
    }
}

/* small devices */

@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }

    .submit-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 2rem 0;
        
    }
    
    .submit {
        width: auto;
        text-align: center;
    }

    .message-sent {
        width: auto;
        text-align: center;
        background-color: #28a745;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        margin-left: 0rem;
    }
}